Amns.GreyFox.Yari/Web References/Amazon/AmazonSearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://soap.amazon.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://soap.amazon.com" name="AmazonSearch" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.amazon.com">
      <xsd:complexType name="ProductLineArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:ProductLine[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ProductLine">
        <xsd:all>
          <xsd:element minOccurs="0" name="Mode" type="xsd:string" />
          <xsd:element minOccurs="0" name="RelevanceRank" type="xsd:string" />
          <xsd:element minOccurs="0" name="ProductInfo" type="s0:ProductInfo" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ProductInfo">
        <xsd:all>
          <xsd:element minOccurs="0" name="TotalResults" type="xsd:string" />
          <xsd:element minOccurs="0" name="TotalPages" type="xsd:string" />
          <xsd:element minOccurs="0" name="ListName" type="xsd:string" />
          <xsd:element minOccurs="0" name="Details" type="s0:DetailsArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DetailsArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:Details[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Details">
        <xsd:all>
          <xsd:element minOccurs="0" name="Url" type="xsd:string" />
          <xsd:element minOccurs="0" name="Asin" type="xsd:string" />
          <xsd:element minOccurs="0" name="ProductName" type="xsd:string" />
          <xsd:element minOccurs="0" name="Catalog" type="xsd:string" />
          <xsd:element minOccurs="0" name="KeyPhrases" type="s0:KeyPhraseArray" />
          <xsd:element minOccurs="0" name="Artists" type="s0:ArtistArray" />
          <xsd:element minOccurs="0" name="Authors" type="s0:AuthorArray" />
          <xsd:element minOccurs="0" name="Mpn" type="xsd:string" />
          <xsd:element minOccurs="0" name="Starring" type="s0:StarringArray" />
          <xsd:element minOccurs="0" name="Directors" type="s0:DirectorArray" />
          <xsd:element minOccurs="0" name="TheatricalReleaseDate" type="xsd:string" />
          <xsd:element minOccurs="0" name="ReleaseDate" type="xsd:string" />
          <xsd:element minOccurs="0" name="Manufacturer" type="xsd:string" />
          <xsd:element minOccurs="0" name="Distributor" type="xsd:string" />
          <xsd:element minOccurs="0" name="ImageUrlSmall" type="xsd:string" />
          <xsd:element minOccurs="0" name="ImageUrlMedium" type="xsd:string" />
          <xsd:element minOccurs="0" name="ImageUrlLarge" type="xsd:string" />
          <xsd:element minOccurs="0" name="MerchantId" type="xsd:string" />
          <xsd:element minOccurs="0" name="MinPrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="MaxPrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="MinSalePrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="MaxSalePrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="MultiMerchant" type="xsd:string" />
          <xsd:element minOccurs="0" name="MerchantSku" type="xsd:string" />
          <xsd:element minOccurs="0" name="ListPrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="OurPrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="UsedPrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="RefurbishedPrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="CollectiblePrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="ThirdPartyNewPrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="NumberOfOfferings" type="xsd:string" />
          <xsd:element minOccurs="0" name="ThirdPartyNewCount" type="xsd:string" />
          <xsd:element minOccurs="0" name="UsedCount" type="xsd:string" />
          <xsd:element minOccurs="0" name="CollectibleCount" type="xsd:string" />
          <xsd:element minOccurs="0" name="RefurbishedCount" type="xsd:string" />
          <xsd:element minOccurs="0" name="ThirdPartyProductInfo" type="s0:ThirdPartyProductInfo" />
          <xsd:element minOccurs="0" name="SalesRank" type="xsd:string" />
          <xsd:element minOccurs="0" name="BrowseList" type="s0:BrowseNodeArray" />
          <xsd:element minOccurs="0" name="Media" type="xsd:string" />
          <xsd:element minOccurs="0" name="ReadingLevel" type="xsd:string" />
          <xsd:element minOccurs="0" name="NumberOfPages" type="xsd:string" />
          <xsd:element minOccurs="0" name="NumberOfIssues" type="xsd:string" />
          <xsd:element minOccurs="0" name="IssuesPerYear" type="xsd:string" />
          <xsd:element minOccurs="0" name="SubscriptionLength" type="xsd:string" />
          <xsd:element minOccurs="0" name="DeweyNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="RunningTime" type="xsd:string" />
          <xsd:element minOccurs="0" name="Publisher" type="xsd:string" />
          <xsd:element minOccurs="0" name="NumMedia" type="xsd:string" />
          <xsd:element minOccurs="0" name="Isbn" type="xsd:string" />
          <xsd:element minOccurs="0" name="Features" type="s0:FeaturesArray" />
          <xsd:element minOccurs="0" name="MpaaRating" type="xsd:string" />
          <xsd:element minOccurs="0" name="EsrbRating" type="xsd:string" />
          <xsd:element minOccurs="0" name="AgeGroup" type="xsd:string" />
          <xsd:element minOccurs="0" name="Availability" type="xsd:string" />
          <xsd:element minOccurs="0" name="Upc" type="xsd:string" />
          <xsd:element minOccurs="0" name="Tracks" type="s0:TrackArray" />
          <xsd:element minOccurs="0" name="Accessories" type="s0:AccessoryArray" />
          <xsd:element minOccurs="0" name="Platforms" type="s0:PlatformArray" />
          <xsd:element minOccurs="0" name="Encoding" type="xsd:string" />
          <xsd:element minOccurs="0" name="ProductDescription" type="xsd:string" />
          <xsd:element minOccurs="0" name="Reviews" type="s0:Reviews" />
          <xsd:element minOccurs="0" name="SimilarProducts" type="s0:SimilarProductsArray" />
          <xsd:element minOccurs="0" name="FeaturedProducts" type="s0:FeaturedProductsArray" />
          <xsd:element minOccurs="0" name="Lists" type="s0:ListArray" />
          <xsd:element minOccurs="0" name="Status" type="xsd:string" />
          <xsd:element minOccurs="0" name="Variations" type="s0:VariationArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="KeyPhraseArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:KeyPhrase[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="KeyPhrase">
        <xsd:all>
          <xsd:element minOccurs="0" name="KeyPhrase" type="xsd:string" />
          <xsd:element minOccurs="0" name="Type" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArtistArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AuthorArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="StarringArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DirectorArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BrowseNodeArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:BrowseNode[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BrowseNode">
        <xsd:all>
          <xsd:element minOccurs="0" name="BrowseId" type="xsd:string" />
          <xsd:element minOccurs="0" name="BrowseName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="FeaturesArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TrackArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:Track[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Track">
        <xsd:all>
          <xsd:element minOccurs="0" name="TrackName" type="xsd:string" />
          <xsd:element minOccurs="0" name="ByArtist" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AccessoryArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="PlatformArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Reviews">
        <xsd:all>
          <xsd:element minOccurs="0" name="AvgCustomerRating" type="xsd:string" />
          <xsd:element minOccurs="0" name="TotalCustomerReviews" type="xsd:string" />
          <xsd:element minOccurs="0" name="CustomerReviews" type="s0:CustomerReviewArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CustomerReviewArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:CustomerReview[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CustomerReview">
        <xsd:all>
          <xsd:element minOccurs="0" name="Rating" type="xsd:string" />
          <xsd:element minOccurs="0" name="Date" type="xsd:string" />
          <xsd:element minOccurs="0" name="Summary" type="xsd:string" />
          <xsd:element minOccurs="0" name="Comment" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SimilarProductsArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="FeaturedProductsArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:FeaturedProduct[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="FeaturedProduct">
        <xsd:all>
          <xsd:element minOccurs="0" name="Asin" type="xsd:string" />
          <xsd:element minOccurs="0" name="Comment" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="VariationArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:Variation[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Variation">
        <xsd:all>
          <xsd:element minOccurs="0" name="Asin" type="xsd:string" />
          <xsd:element minOccurs="0" name="ClothingSize" type="xsd:string" />
          <xsd:element minOccurs="0" name="ClothingColor" type="xsd:string" />
          <xsd:element minOccurs="0" name="Price" type="xsd:string" />
          <xsd:element minOccurs="0" name="SalePrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="Availability" type="xsd:string" />
          <xsd:element minOccurs="0" name="MultiMerchant" type="xsd:string" />
          <xsd:element minOccurs="0" name="MerchantSku" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MarketplaceSearch">
        <xsd:all>
          <xsd:element name="MarketplaceSearchDetails" type="s0:MarketplaceSearchDetailsArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SellerProfile">
        <xsd:all>
          <xsd:element name="SellerProfileDetails" type="s0:SellerProfileDetailsArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SellerSearch">
        <xsd:all>
          <xsd:element name="SellerSearchDetails" type="s0:SellerSearchDetailsArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MarketplaceSearchDetails">
        <xsd:all>
          <xsd:element minOccurs="0" name="NumberOfOpenListings" type="xsd:string" />
          <xsd:element minOccurs="0" name="ListingProductInfo" type="s0:ListingProductInfo" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MarketplaceSearchDetailsArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:MarketplaceSearchDetails[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SellerProfileDetails">
        <xsd:all>
          <xsd:element minOccurs="0" name="SellerNickname" type="xsd:string" />
          <xsd:element minOccurs="0" name="OverallFeedbackRating" type="xsd:string" />
          <xsd:element minOccurs="0" name="NumberOfFeedback" type="xsd:string" />
          <xsd:element minOccurs="0" name="NumberOfCanceledBids" type="xsd:string" />
          <xsd:element minOccurs="0" name="NumberOfCanceledAuctions" type="xsd:string" />
          <xsd:element minOccurs="0" name="StoreId" type="xsd:string" />
          <xsd:element minOccurs="0" name="StoreName" type="xsd:string" />
          <xsd:element minOccurs="0" name="SellerFeedback" type="s0:SellerFeedback" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SellerProfileDetailsArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:SellerProfileDetails[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SellerSearchDetails">
        <xsd:all>
          <xsd:element minOccurs="0" name="SellerNickname" type="xsd:string" />
          <xsd:element minOccurs="0" name="StoreId" type="xsd:string" />
          <xsd:element minOccurs="0" name="StoreName" type="xsd:string" />
          <xsd:element minOccurs="0" name="NumberOfOpenListings" type="xsd:string" />
          <xsd:element minOccurs="0" name="ListingProductInfo" type="s0:ListingProductInfo" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SellerSearchDetailsArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:SellerSearchDetails[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ListingProductInfo">
        <xsd:all>
          <xsd:element name="ListingProductDetails" type="s0:ListingProductDetailsArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListingProductDetailsArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:ListingProductDetails[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ListingProductDetails">
        <xsd:all>
          <xsd:element minOccurs="0" name="ExchangeId" type="xsd:string" />
          <xsd:element minOccurs="0" name="ListingId" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeTitle" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeDescription" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangePrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeAsin" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeEndDate" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeTinyImage" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeSellerId" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeSellerNickname" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeStartDate" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeStatus" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeQuantity" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeQuantityAllocated" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeFeaturedCategory" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeCondition" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeConditionType" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeAvailability" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeOfferingType" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeSellerState" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeSellerCountry" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeSellerRating" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SellerFeedback">
        <xsd:all>
          <xsd:element name="Feedback" type="s0:FeedbackArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="FeedbackArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:Feedback[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Feedback">
        <xsd:all>
          <xsd:element minOccurs="0" name="FeedbackRating" type="xsd:string" />
          <xsd:element minOccurs="0" name="FeedbackComments" type="xsd:string" />
          <xsd:element minOccurs="0" name="FeedbackDate" type="xsd:string" />
          <xsd:element minOccurs="0" name="FeedbackRater" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ThirdPartyProductInfo">
        <xsd:all>
          <xsd:element name="ThirdPartyProductDetails" type="s0:ThirdPartyProductDetailsArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ThirdPartyProductDetailsArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:ThirdPartyProductDetails[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ThirdPartyProductDetails">
        <xsd:all>
          <xsd:element minOccurs="0" name="OfferingType" type="xsd:string" />
          <xsd:element minOccurs="0" name="SellerId" type="xsd:string" />
          <xsd:element minOccurs="0" name="SellerNickname" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeId" type="xsd:string" />
          <xsd:element minOccurs="0" name="OfferingPrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="Condition" type="xsd:string" />
          <xsd:element minOccurs="0" name="ConditionType" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeAvailability" type="xsd:string" />
          <xsd:element minOccurs="0" name="SellerCountry" type="xsd:string" />
          <xsd:element minOccurs="0" name="SellerState" type="xsd:string" />
          <xsd:element minOccurs="0" name="ShipComments" type="xsd:string" />
          <xsd:element minOccurs="0" name="SellerRating" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="KeywordRequest">
        <xsd:all>
          <xsd:element name="keyword" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="price" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="TextStreamRequest">
        <xsd:all>
          <xsd:element name="textStream" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="price" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PowerRequest">
        <xsd:all>
          <xsd:element name="power" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="BrowseNodeRequest">
        <xsd:all>
          <xsd:element name="browse_node" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="keywords" type="xsd:string" />
          <xsd:element minOccurs="0" name="price" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AsinRequest">
        <xsd:all>
          <xsd:element name="asin" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="offer" type="xsd:string" />
          <xsd:element minOccurs="0" name="offerpage" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="mode" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="BlendedRequest">
        <xsd:all>
          <xsd:element name="blended" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UpcRequest">
        <xsd:all>
          <xsd:element name="upc" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SkuRequest">
        <xsd:all>
          <xsd:element name="sku" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="merchant_id" type="xsd:string" />
          <xsd:element minOccurs="0" name="keywords" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArtistRequest">
        <xsd:all>
          <xsd:element name="artist" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="keywords" type="xsd:string" />
          <xsd:element minOccurs="0" name="price" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AuthorRequest">
        <xsd:all>
          <xsd:element name="author" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="keywords" type="xsd:string" />
          <xsd:element minOccurs="0" name="price" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ActorRequest">
        <xsd:all>
          <xsd:element name="actor" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="keywords" type="xsd:string" />
          <xsd:element minOccurs="0" name="price" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DirectorRequest">
        <xsd:all>
          <xsd:element name="director" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="keywords" type="xsd:string" />
          <xsd:element minOccurs="0" name="price" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ExchangeRequest">
        <xsd:all>
          <xsd:element name="exchange_id" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ManufacturerRequest">
        <xsd:all>
          <xsd:element name="manufacturer" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="keywords" type="xsd:string" />
          <xsd:element minOccurs="0" name="price" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ListManiaRequest">
        <xsd:all>
          <xsd:element name="lm_id" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="WishlistRequest">
        <xsd:all>
          <xsd:element name="wishlist_id" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MarketplaceRequest">
        <xsd:all>
          <xsd:element name="marketplace_search" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element minOccurs="0" name="keyword" type="xsd:string" />
          <xsd:element minOccurs="0" name="keyword_search" type="xsd:string" />
          <xsd:element minOccurs="0" name="browse_id" type="xsd:string" />
          <xsd:element minOccurs="0" name="zipcode" type="xsd:string" />
          <xsd:element minOccurs="0" name="area_id" type="xsd:string" />
          <xsd:element minOccurs="0" name="geo" type="xsd:string" />
          <xsd:element minOccurs="0" name="sort" type="xsd:string" />
          <xsd:element minOccurs="0" name="listing_id" type="xsd:string" />
          <xsd:element minOccurs="0" name="desc" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="index" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SellerProfileRequest">
        <xsd:all>
          <xsd:element name="seller_id" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element minOccurs="0" name="desc" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SellerRequest">
        <xsd:all>
          <xsd:element name="seller_id" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element name="offerstatus" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element minOccurs="0" name="seller_browse_id" type="xsd:string" />
          <xsd:element minOccurs="0" name="keyword" type="xsd:string" />
          <xsd:element minOccurs="0" name="desc" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="index" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SimilarityRequest">
        <xsd:all>
          <xsd:element name="asin" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ItemIdArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ItemArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:Item[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Item">
        <xsd:all>
          <xsd:element name="ItemId" type="xsd:string" />
          <xsd:element name="ProductName" type="xsd:string" />
          <xsd:element name="Catalog" type="xsd:string" />
          <xsd:element minOccurs="0" name="Asin" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeId" type="xsd:string" />
          <xsd:element name="Quantity" type="xsd:string" />
          <xsd:element minOccurs="0" name="ListPrice" type="xsd:string" />
          <xsd:element name="OurPrice" type="xsd:string" />
          <xsd:element minOccurs="0" name="MerchantSku" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ItemQuantityArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:ItemQuantity[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ItemQuantity">
        <xsd:all>
          <xsd:element name="ItemId" type="xsd:string" />
          <xsd:element name="Quantity" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AddItemArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:AddItem[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AddItem">
        <xsd:all>
          <xsd:element minOccurs="0" name="ParentAsin" type="xsd:string" />
          <xsd:element minOccurs="0" name="Asin" type="xsd:string" />
          <xsd:element minOccurs="0" name="MerchantId" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeId" type="xsd:string" />
          <xsd:element name="Quantity" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ShoppingCart">
        <xsd:all>
          <xsd:element name="CartId" type="xsd:string" />
          <xsd:element name="HMAC" type="xsd:string" />
          <xsd:element name="PurchaseUrl" type="xsd:string" />
          <xsd:element minOccurs="0" name="Items" type="s0:ItemArray" />
          <xsd:element minOccurs="0" name="SimilarProducts" type="s0:SimilarProductsArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetShoppingCartRequest">
        <xsd:all>
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element name="CartId" type="xsd:string" />
          <xsd:element name="HMAC" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="sims" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ClearShoppingCartRequest">
        <xsd:all>
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element name="CartId" type="xsd:string" />
          <xsd:element name="HMAC" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AddShoppingCartItemsRequest">
        <xsd:all>
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element minOccurs="0" name="CartId" type="xsd:string" />
          <xsd:element minOccurs="0" name="HMAC" type="xsd:string" />
          <xsd:element name="Items" type="s0:AddItemArray" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="sims" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RemoveShoppingCartItemsRequest">
        <xsd:all>
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element name="CartId" type="xsd:string" />
          <xsd:element name="HMAC" type="xsd:string" />
          <xsd:element name="Items" type="s0:ItemIdArray" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="sims" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ModifyShoppingCartItemsRequest">
        <xsd:all>
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element name="CartId" type="xsd:string" />
          <xsd:element name="HMAC" type="xsd:string" />
          <xsd:element name="Items" type="s0:ItemQuantityArray" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="sims" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="OrderIdArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="xsd:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Price">
        <xsd:all>
          <xsd:element name="Amount" type="xsd:string" />
          <xsd:element name="CurrencyCode" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Package">
        <xsd:all>
          <xsd:element name="TrackingNumber" type="xsd:string" />
          <xsd:element name="CarrierName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PackageArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:Package[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="OrderItem">
        <xsd:all>
          <xsd:element name="ItemNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="ASIN" type="xsd:string" />
          <xsd:element minOccurs="0" name="ExchangeId" type="xsd:string" />
          <xsd:element name="Quantity" type="xsd:string" />
          <xsd:element name="UnitPrice" type="s0:Price" />
          <xsd:element name="TotalPrice" type="s0:Price" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="OrderItemArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:OrderItem[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ShortSummary">
        <xsd:all>
          <xsd:element name="OrderId" type="xsd:string" />
          <xsd:element name="SellerId" type="xsd:string" />
          <xsd:element name="Condition" type="xsd:string" />
          <xsd:element name="TransactionDate" type="xsd:string" />
          <xsd:element name="TransactionDateEpoch" type="xsd:string" />
          <xsd:element name="Total" type="s0:Price" />
          <xsd:element name="Subtotal" type="s0:Price" />
          <xsd:element name="Shipping" type="s0:Price" />
          <xsd:element name="Tax" type="s0:Price" />
          <xsd:element name="Promotion" type="s0:Price" />
          <xsd:element name="StoreName" type="xsd:string" />
          <xsd:element minOccurs="0" name="Packages" type="s0:PackageArray" />
          <xsd:element minOccurs="0" name="OrderItems" type="s0:OrderItemArray" />
          <xsd:element minOccurs="0" name="ErrorCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrorString" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ShortSummaryArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute d7p1:arrayType="s0:ShortSummary[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GetTransactionDetailsRequest">
        <xsd:all>
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="devtag" type="xsd:string" />
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="OrderIds" type="s0:OrderIdArray" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetTransactionDetailsResponse">
        <xsd:all>
          <xsd:element name="ShortSummaries" type="s0:ShortSummaryArray" />
        </xsd:all>
      </xsd:complexType>
    </s:schema>
  </types>
  <message name="KeywordSearchRequest">
    <part name="KeywordSearchRequest" type="s0:KeywordRequest" />
  </message>
  <message name="KeywordSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="TextStreamSearchRequest">
    <part name="TextStreamSearchRequest" type="s0:TextStreamRequest" />
  </message>
  <message name="TextStreamSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="PowerSearchRequest">
    <part name="PowerSearchRequest" type="s0:PowerRequest" />
  </message>
  <message name="PowerSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="BrowseNodeSearchRequest">
    <part name="BrowseNodeSearchRequest" type="s0:BrowseNodeRequest" />
  </message>
  <message name="BrowseNodeSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="AsinSearchRequest">
    <part name="AsinSearchRequest" type="s0:AsinRequest" />
  </message>
  <message name="AsinSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="BlendedSearchRequest">
    <part name="BlendedSearchRequest" type="s0:BlendedRequest" />
  </message>
  <message name="BlendedSearchResponse">
    <part name="return" type="s0:ProductLineArray" />
  </message>
  <message name="UpcSearchRequest">
    <part name="UpcSearchRequest" type="s0:UpcRequest" />
  </message>
  <message name="UpcSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="SkuSearchRequest">
    <part name="SkuSearchRequest" type="s0:SkuRequest" />
  </message>
  <message name="SkuSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="AuthorSearchRequest">
    <part name="AuthorSearchRequest" type="s0:AuthorRequest" />
  </message>
  <message name="AuthorSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="ArtistSearchRequest">
    <part name="ArtistSearchRequest" type="s0:ArtistRequest" />
  </message>
  <message name="ArtistSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="ActorSearchRequest">
    <part name="ActorSearchRequest" type="s0:ActorRequest" />
  </message>
  <message name="ActorSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="DirectorSearchRequest">
    <part name="DirectorSearchRequest" type="s0:DirectorRequest" />
  </message>
  <message name="DirectorSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="ExchangeSearchRequest">
    <part name="ExchangeSearchRequest" type="s0:ExchangeRequest" />
  </message>
  <message name="ExchangeSearchResponse">
    <part name="return" type="s0:ListingProductDetails" />
  </message>
  <message name="ManufacturerSearchRequest">
    <part name="ManufacturerSearchRequest" type="s0:ManufacturerRequest" />
  </message>
  <message name="ManufacturerSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="MarketplaceSearchRequest">
    <part name="MarketplaceSearchRequest" type="s0:MarketplaceRequest" />
  </message>
  <message name="MarketplaceSearchResponse">
    <part name="return" type="s0:MarketplaceSearch" />
  </message>
  <message name="ListManiaSearchRequest">
    <part name="ListManiaSearchRequest" type="s0:ListManiaRequest" />
  </message>
  <message name="ListManiaSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="WishlistSearchRequest">
    <part name="WishlistSearchRequest" type="s0:WishlistRequest" />
  </message>
  <message name="WishlistSearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="SellerProfileSearchRequest">
    <part name="SellerProfileSearchRequest" type="s0:SellerProfileRequest" />
  </message>
  <message name="SellerProfileSearchResponse">
    <part name="return" type="s0:SellerProfile" />
  </message>
  <message name="SellerSearchRequest">
    <part name="SellerSearchRequest" type="s0:SellerRequest" />
  </message>
  <message name="SellerSearchResponse">
    <part name="return" type="s0:SellerSearch" />
  </message>
  <message name="SimilaritySearchRequest">
    <part name="SimilaritySearchRequest" type="s0:SimilarityRequest" />
  </message>
  <message name="SimilaritySearchResponse">
    <part name="return" type="s0:ProductInfo" />
  </message>
  <message name="GetShoppingCartRequest">
    <part name="GetShoppingCartRequest" type="s0:GetShoppingCartRequest" />
  </message>
  <message name="ClearShoppingCartRequest">
    <part name="ClearShoppingCartRequest" type="s0:ClearShoppingCartRequest" />
  </message>
  <message name="AddShoppingCartItemsRequest">
    <part name="AddShoppingCartItemsRequest" type="s0:AddShoppingCartItemsRequest" />
  </message>
  <message name="RemoveShoppingCartItemsRequest">
    <part name="RemoveShoppingCartItemsRequest" type="s0:RemoveShoppingCartItemsRequest" />
  </message>
  <message name="ModifyShoppingCartItemsRequest">
    <part name="ModifyShoppingCartItemsRequest" type="s0:ModifyShoppingCartItemsRequest" />
  </message>
  <message name="ShoppingCartResponse">
    <part name="ShoppingCart" type="s0:ShoppingCart" />
  </message>
  <message name="GetTransactionDetailsRequest">
    <part name="GetTransactionDetailsRequest" type="s0:GetTransactionDetailsRequest" />
  </message>
  <message name="GetTransactionDetailsResponse">
    <part name="GetTransactionDetailsResponse" type="s0:GetTransactionDetailsResponse" />
  </message>
  <portType name="AmazonSearchPort">
    <operation name="KeywordSearchRequest">
      <input message="s0:KeywordSearchRequest" />
      <output message="s0:KeywordSearchResponse" />
    </operation>
    <operation name="TextStreamSearchRequest">
      <input message="s0:TextStreamSearchRequest" />
      <output message="s0:TextStreamSearchResponse" />
    </operation>
    <operation name="PowerSearchRequest">
      <input message="s0:PowerSearchRequest" />
      <output message="s0:PowerSearchResponse" />
    </operation>
    <operation name="BrowseNodeSearchRequest">
      <input message="s0:BrowseNodeSearchRequest" />
      <output message="s0:BrowseNodeSearchResponse" />
    </operation>
    <operation name="AsinSearchRequest">
      <input message="s0:AsinSearchRequest" />
      <output message="s0:AsinSearchResponse" />
    </operation>
    <operation name="BlendedSearchRequest">
      <input message="s0:BlendedSearchRequest" />
      <output message="s0:BlendedSearchResponse" />
    </operation>
    <operation name="UpcSearchRequest">
      <input message="s0:UpcSearchRequest" />
      <output message="s0:UpcSearchResponse" />
    </operation>
    <operation name="SkuSearchRequest">
      <input message="s0:SkuSearchRequest" />
      <output message="s0:SkuSearchResponse" />
    </operation>
    <operation name="AuthorSearchRequest">
      <input message="s0:AuthorSearchRequest" />
      <output message="s0:AuthorSearchResponse" />
    </operation>
    <operation name="ArtistSearchRequest">
      <input message="s0:ArtistSearchRequest" />
      <output message="s0:ArtistSearchResponse" />
    </operation>
    <operation name="ActorSearchRequest">
      <input message="s0:ActorSearchRequest" />
      <output message="s0:ActorSearchResponse" />
    </operation>
    <operation name="ManufacturerSearchRequest">
      <input message="s0:ManufacturerSearchRequest" />
      <output message="s0:ManufacturerSearchResponse" />
    </operation>
    <operation name="DirectorSearchRequest">
      <input message="s0:DirectorSearchRequest" />
      <output message="s0:DirectorSearchResponse" />
    </operation>
    <operation name="ListManiaSearchRequest">
      <input message="s0:ListManiaSearchRequest" />
      <output message="s0:ListManiaSearchResponse" />
    </operation>
    <operation name="WishlistSearchRequest">
      <input message="s0:WishlistSearchRequest" />
      <output message="s0:WishlistSearchResponse" />
    </operation>
    <operation name="ExchangeSearchRequest">
      <input message="s0:ExchangeSearchRequest" />
      <output message="s0:ExchangeSearchResponse" />
    </operation>
    <operation name="MarketplaceSearchRequest">
      <input message="s0:MarketplaceSearchRequest" />
      <output message="s0:MarketplaceSearchResponse" />
    </operation>
    <operation name="SellerProfileSearchRequest">
      <input message="s0:SellerProfileSearchRequest" />
      <output message="s0:SellerProfileSearchResponse" />
    </operation>
    <operation name="SellerSearchRequest">
      <input message="s0:SellerSearchRequest" />
      <output message="s0:SellerSearchResponse" />
    </operation>
    <operation name="SimilaritySearchRequest">
      <input message="s0:SimilaritySearchRequest" />
      <output message="s0:SimilaritySearchResponse" />
    </operation>
    <operation name="GetShoppingCartRequest">
      <input message="s0:GetShoppingCartRequest" />
      <output message="s0:ShoppingCartResponse" />
    </operation>
    <operation name="ClearShoppingCartRequest">
      <input message="s0:ClearShoppingCartRequest" />
      <output message="s0:ShoppingCartResponse" />
    </operation>
    <operation name="AddShoppingCartItemsRequest">
      <input message="s0:AddShoppingCartItemsRequest" />
      <output message="s0:ShoppingCartResponse" />
    </operation>
    <operation name="RemoveShoppingCartItemsRequest">
      <input message="s0:RemoveShoppingCartItemsRequest" />
      <output message="s0:ShoppingCartResponse" />
    </operation>
    <operation name="ModifyShoppingCartItemsRequest">
      <input message="s0:ModifyShoppingCartItemsRequest" />
      <output message="s0:ShoppingCartResponse" />
    </operation>
    <operation name="GetTransactionDetailsRequest">
      <input message="s0:GetTransactionDetailsRequest" />
      <output message="s0:GetTransactionDetailsResponse" />
    </operation>
  </portType>
  <binding name="AmazonSearchBinding" type="s0:AmazonSearchPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="KeywordSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="TextStreamSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="PowerSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="BrowseNodeSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="AsinSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="BlendedSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UpcSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SkuSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="AuthorSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ArtistSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ActorSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ManufacturerSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DirectorSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ExchangeSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ListManiaSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="WishlistSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SellerProfileSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SellerSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="MarketplaceSearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SimilaritySearchRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetShoppingCartRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ClearShoppingCartRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="AddShoppingCartItemsRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="RemoveShoppingCartItemsRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ModifyShoppingCartItemsRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetTransactionDetailsRequest">
      <soap:operation soapAction="http://soap.amazon.com" />
      <input>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.amazon.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="AmazonSearchService">
    <port name="AmazonSearchPort" binding="s0:AmazonSearchBinding">
      <soap:address location="http://soap.amazon.com/onca/soap3" />
    </port>
  </service>
</definitions>